<launch>

  <!-- launch gps -->
  <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
    <arg name="port" default="/dev/ttyTHS1" />
    <arg name="baud" default="9600" />
    <arg name="frame_id" default="gps" />
    <arg name="use_GNSS_time" default="False" />
    <arg name="time_ref_source" default="gps" />
    <arg name="useRMC" default="False" />
  </include>

  
  <!-- launch imu -->
  <include file="$(find ros_imu_bno055)/launch/imu.launch">
    <arg name="serial_port" default="/dev/ttyUSB0" />
    <arg name="frame_id" default="imu_link" />
    <arg name="operation_mode" default="IMU"/>
    <arg name="oscillator" default="INTERNAL" />
    <arg name="reset_orientation" default="true" />
    <arg name="frequency" default="50" /> 
    <arg name="use_magnetometer" default="false" />
    <arg name="use_temperature" default="false" /> 
  </include>

</launch>
